a:link { 
    text-decoration: none; 
    color: black;
  } 
  a:visited { 
    text-decoration: none;
    color: black;
  } 
  a:hover { 
    color: grey;
    text-decoration: underline; 
  } 
  a:active { 
    text-decoration: none;
    color: black;
  }

.bg {
    background-color: darkgrey;
}

.recipe,
.recipeheading {
    font-family: monospace;
    font-size: x-large;
    color: black;
    font-weight: bold;
}

.recipeheading {
    font-size: xx-large;
}

.maintext {
    font-family: monospace;
    font-size: medium;
    color: black;
}